---
- hosts: all
  gather_facts: yes
  roles:
    - add-build-sshkey
    - prepare-workspace
  tasks:
    - name: Display connection info
      debug:
        msg: "Connected to {{ inventory_hostname }}"
    
    - name: Display all OS-related facts
      debug:
        msg: |
          os_family: {{ ansible_facts['os_family'] | default('NOT SET') }}
          system: {{ ansible_facts['system'] | default('NOT SET') }}
          distribution: {{ ansible_facts['distribution'] | default('NOT SET') }}
          kernel: {{ ansible_facts['kernel'] | default('NOT SET') }}
